
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0f0f0f;
  color: rgb(242, 242, 242);
}

.principal {
  display: flex;
}

.principal main {
  padding: 20px;
}
