.thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail {
  width: 48%;
  margin-bottom: 40px;
}

.thumbnail .imagen-miniatura {
  border-radius: 25px;
  width: 100%;
}

.thumbnail .imagen-perfil{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.thumbnail h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.thumbnail p {
  color: #aaaaaa;
  margin: 0;
}

.thumbnail .info {
  display: flex;
  width: 100%;
  margin-top: 7px;
  align-items: flex-start;
}

.thumbnail .texto {
  width: 100%;
}

.thumbnail .nombre-perfil {
  display: flex;
  gap: 5px;
}